[submodule "HECSUnityStart"]
	path = HECSUnityStart
	url = https://github.com/Brightori/HECSUnityStart
[submodule "HECSFramework"]
	path = HECSFramework
	url = https://github.com/Brightori/HECSUnityStart
	branch = next
