[submodule "HECSUnityStart"]
	path = HECSUnityStart
	url = https://github.com/Brightori/HECSUnityStart
[submodule "Assets/HECSFramework"]
	path = Assets/HECSFramework
	url = https://github.com/Brightori/HECSUnityStart
